.white-text {
    color: white;
}
#bold-headed  {
    font-style: oblique;
    justify-content: center;
}
  p {
    font-family: fantasy;
    font-size: 25px;
    line-height: 25px;
}

 p {
    font-family: cursive;
    font-size: 24px;
}

h4 {
    font-family: sans-sarif;
    font-size: 29px;
}

h3 {
    font-family: impact;
    font-size: 24px;
}

